:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

@media (min-width: 768px) {
  img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  img {
    width: 250px;
    height: 250px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
