<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddIngredient(form)"
              #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           id="name"
                           class="form-control"
                           #nameInput
                           required
                           name="name"
                           ngModel>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number"
                           id="amount"
                           class="form-control"
                           #amountInput
                           required
                           name="amount"
                           ngModel
                           pattern="^[1-9]+[0-9]*$">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="measure">Measure</label>
                    <input type="text"
                           id="measure"
                           class="form-control"
                           #measureInput
                           required
                           name="measure"
                           ngModel>
                    <p class="instructions"><span class="heading">Note: Ex- </span> Numbers, Grams, Kg, Liters etc..</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success"
                            style="margin-right: 10px;"
                            type="submit"
                            [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger"
                            style="margin-right: 10px;"
                            type="button"
                            (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary"
                            type="button"
                            (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
        <div class="alert-message"
             [ngClass]="{
    'show': showAlert(),
    'alert-add': alertType() === 'add',
    'alert-update': alertType() === 'update',
    'alert-delete': alertType() === 'delete',
    'alert-clear': alertType() === 'clear'}">
            {{ alertMessage() }}
        </div>
    </div>
</div>