@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.cooking-gif {
  display: block;
  max-width: 100vw;
  max-height: 60vh;
  width: 500px;
  height: 350px;
  margin: 2rem auto 0 auto;
  object-fit: contain;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* ==== RESPONSIVE DESIGN ==== */
@media (max-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
  .cooking-gif {
    width: 70vw;
    height: auto;
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 2.6rem;
  }

  .cooking-gif {
    width: 80vw;
    max-height: 50vh;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.2rem;
    padding: 0 10px;
  }

  .cooking-gif {
    width: 90vw;
    height: auto;
    animation-duration: 0.8s;
    padding-right: 50px;
  }
}

@media (max-width: 430px) {
  h2 {
    font-size: 1.7rem;
  }

  .cooking-gif {
    width: 95vw;
    max-height: 45vh;
    padding-right: 50px;
  }
}
